.button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button-container button {
    display: flex;
    width: 100%;
    padding: 30px 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #0D0D0D;
    background: #FFF;
    box-shadow: 2px 2px 0px 0px #000;
    color: #000;
}

.button-container p {
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
}